 * {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* ********   ***********   *****   *******   ******  header section style *******   ******   *******   ******  ******  ****** */

 header {
    background-color: rgba(255, 144, 14, 0.10);
 }
.header-container {
    width: 80%;
    margin: 0px auto;
}
 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 20px 0px;
 }

 nav > ul {
    display: flex;
 }
 nav  li {
    list-style: none;
    margin-right: 25px;
    font-weight: 500;
    font-size: 1.1em;
 }
nav li > a {
    text-decoration: none;
    color: rgb(82, 80, 80);
}
nav h3 {
    font-size: 2em;
    font-weight: 700;
}
.banner-text {
    width: 70%;
    margin: 50px auto;
    text-align: center;
}
.banner-title {
    font-size: 3em;
}
.banner-description {
    font-size: 1em;
    color: rgb(80, 79, 79);
    margin: 20px auto;
}
.primary-button {
    font-weight: 500;
    font-size: 1em;
    color: rgb(252, 253, 255);
   background-color: #FF900E;
   border: none;
   padding: 15px 20px;
   border-radius: 5px;
   cursor: pointer;
}
.banner-img img {
    width: 100%;
}

/*  ***** ****** **** **** ****** ***** ******** ******* ****** Feature Style   ***** ****** **** **** ****** ***** ******** ******* ****** */

.feature {
    width: 80%;
    margin: 30px auto;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
}
.feature-images {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
}
.feature-images img {
    width: 100%;
}
.feature-title {
    font-size: 2.5em;
}
.feature-description {
   margin: 30px 0px;
}
.feature-images {
    width : 55%
}
.feature-content {
    width : 45%
}
.featur {
    color: #FF900E;
}
/*  ***** ****** **** **** ****** ***** ******** ******* ****** Feature Style   ***** ****** **** **** ****** ***** ******** ******* ****** */

.enjoy-section{
    width: 80%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    gap: 100px;
}
.enjoy-text {
    width: 50%;
}
.enjoy-title {
    font-size: 2em;
    margin: 10px 0px;
}
.enjoy-description {
    font-size: 1em;
    margin: 10px 0px;
}
.enjoy-content-box p {
    font-size: 0.8em;
    margin: 5px 0px;
}
.enjoy-image {
    width: 50%;
}
.enjoy-image img {
    width: 100%;
}
/*  ***** ****** **** **** ****** ***** ******** ******* ****** Fact Style   ***** ****** **** **** ****** ***** ******** ******* ****** */
.fact-section {
    width: 80%;
    margin: 30px auto;
}
.facts-image {
    display: flex;
    justify-content: space-around;
}
.fact-section-description {
    width: 40%;
    font-size: 0.9em;
    margin: 10px 0px;
}
.facts-image {
    margin: 30px 0px;
}

.fact-box {
    margin-top: 30px;
    border: 1px solid rgb(236, 187, 23);
    text-align: center;
    padding: 35px 20px ;
}
/* ***** ******** ****** ****** ****  ***  ****** ***** Footer Design ***** ******** ****** ****** ****  ***  ****** *****  */
footer {
    width: 80%;
    margin: 100px auto;
}
.footer-title {
    font-size: 2em;
    text-align: center;
}
.footer-description {
    font-size: 0.9em;
    line-height: 20px;
    padding: 10px 0px;
    text-align: center 
}
.footer-images {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    margin-top: 30px;
}
.footer-images img {
  width: 10%;
}
/* ***** ******** ****** ****** ****  ***  ****** ***** Responsive Design ***** ******** ****** ****** ****  ***  ****** *****  */

@media screen and (max-width:576px) {

    .header-container {
        width: 90%;
    }
    nav {
       flex-direction: column;
       gap: 20px;
     }
     .banner-text {
        width: 90%;
        margin: 20px auto;
    }
    .banner-title {
        font-size: 2.1em;
    }
    .feature {
        width: 90%;
        flex-direction: column-reverse;
    }
    .feature-content {
        text-align : center;
        width : 90%
    }
    .feature-images {
        width : 95%
    }
    .enjoy-section{
        width: 95%;
        flex-direction: column-reverse;
    }
    .enjoy-text {
        width: 95%;
    }
    .enjoy-image {
        width: 95%;
    }
    .fact-section {
        width: 90%;
    }
    .facts-image {
       flex-direction: column; 
    }
    .fact-section-description {
        width: 80%;
    }
   .footer {
    width: 70%;
    }
    .footer-images {
        flex-direction: column;
        gap: 30px;
        margin-top: 80px;
    }
    .footer-images img {
        width: 40%;
      }
}
